<a href="https://colab.research.google.com/github/b295/code-of-google_colaboratory/blob/master/Control_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**If Statement**

In [1]:
grade=85
if grade>=60:
  print("passed")

passed

If else statement

In [12]:
grade =85
if grade>=60:
  print("passed")
else:
  print("fail")

passed

Conditional Statement

In [7]:
result =('passed'if grade >=60 else 'Failed')
print(result)

passed

IF...elif...else statement

In [11]:
grade = 77

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

While Statement

In [13]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

While statement to find the first power of 3 larger than 50

In [14]:
product = 3

while product<=50:
  product = product*3

In [15]:
print(product)

81

For Statement

In [16]:
for character in "programming":
  print(character, end=" ")

p r o g r a m m i n g

Display 0 through 9

In [17]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

From 0 through 1000000

In [18]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

In [19]:
for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9

In [20]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

In [21]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

In [ ]:
number= int(input())

In [ ]:
for i in range(1,11):
  print(number,"X",i, "=",number*i)

In [ ]:
for left in range(7):
  for right in range(left,7):
    print("["+str(left)+"|"+str(right)+"]",end=" ")
    print()

In [ ]:
for number in range(10):
  if number ==5:
    break
    print(nunber,end=" ")